# Python virtual environments
.venv/
.venv_backup/
venv/
ENV/
env/
virtualenv/
.Python
pyvenv.cfg
pip-log.txt
pip-delete-this-directory.txt

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log 